# Pre-Analysis

View data & prepare data for import into pgAdmin

1. [Reformatting columns](#reformat)
2. [Map codes for primary key/ foreign key relationships](#pkfk)
3. [Filter aggregate level](#filter)
4. [Add academic year](#ac_year)
5. [View data types for SQL table creation](#dtypes)

In [1]:
# import libraries

import numpy as np
import pandas as pd

# set options

pd.set_option('display.max_columns', 50)

## free/reduced meal plans <a name = "reformat"></a>

In [2]:
# read in csvs

frmp_18 = pd.read_csv('data_files/csvs/frpm1718.csv')
frmp_19 = pd.read_csv('data_files/csvs/frpm1819.csv')
frmp_20 = pd.read_csv('data_files/csvs/frpm1920.csv')
frmp_21 = pd.read_csv('data_files/csvs/frpm2021.csv')

In [3]:
# take a look at data

frmp_19.head()

,Unduplicated Student Poverty – Free or Reduced Price Meals Data 2018–19,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,Educational \nOption Type,NSLP \nProvision \nStatus,Charter \nSchool \n(Y/N),Charter \nSchool \nNumber,Charter \nFunding \nType,IRC,Low Grade,High Grade,Enrollment \n(K-12),Free Meal \nCount \n(K-12),Percent (%) \nEligible Free \n(K-12),FRPM Count \n(K-12),Percent (%) \nEligible FRPM \n(K-12),Enrollment \n(Ages 5-17),Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),FRPM Count \n(Ages 5-17),Percent (%) \nEligible FRPM \n(Ages 5-17),CALPADS Fall 1 \nCertification Status
1,2018-2019,01,10017,0112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),Traditional,NaN,Yes,0811,Directly funded,Y,9,12,385,262,68.1%,306,79.5%,370,249,67.3%,291,78.6%,Y
2,2018-2019,01,10017,0123968,Alameda,Alameda County Office of Education,Community School for Creative Education,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1284,Directly funded,Y,K,8,241,118,49.0%,120,49.8%,224,113,50.4%,115,51.3%,Y
3,2018-2019,01,10017,0124172,Alameda,Alameda County Office of Education,Yu Ming Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1296,Directly funded,Y,K,8,445,58,13.0%,64,14.4%,445,58,13.0%,64,14.4%,Y
4,2018-2019,01,10017,0125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1383,Directly funded,Y,K,8,432,113,26.2%,131,30.3%,418,111,26.6%,129,30.9%,Y

In [5]:
# reset columns; frpm_18

frmp_18.columns = frmp_18.iloc[0]
frmp_18.drop(index = 0, axis = 0, inplace = True)

In [6]:
# reset columns; frpm_19

frmp_19.columns = frmp_19.iloc[0]
frmp_19.drop(index = 0, axis = 0, inplace = True)

In [7]:
# reset columns; frpm_20

frmp_20.columns = frmp_20.iloc[0]
frmp_20.drop(index= 0, axis = 0, inplace = True)

In [8]:
# reset columns; frpm_21

frmp_21.columns = frmp_21.iloc[0]
frmp_21.drop(index = 0, axis = 0, inplace = True)

In [9]:
# concatenate dfs

frmp = pd.concat([frmp_18, frmp_19, frmp_20, frmp_21])

In [10]:
frmp.head()

,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,Educational \nOption Type,NSLP \nProvision \nStatus,Charter \nSchool \n(Y/N),Charter \nSchool \nNumber,Charter \nFunding \nType,IRC,Low Grade,High Grade,Enrollment \n(K-12),Free Meal \nCount \n(K-12),Percent (%) \nEligible Free \n(K-12),FRPM Count \n(K-12),Percent (%) \nEligible FRPM \n(K-12),Enrollment \n(Ages 5-17),Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),FRPM Count \n(Ages 5-17),Percent (%) \nEligible FRPM \n(Ages 5-17),2017-18 \nCALPADS Fall 1 \nCertification Status,CALPADS Fall 1 \nCertification Status
1,2017-2018,01,10017,0112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),Traditional,NaN,Yes,0811,Directly funded,Y,9,12,413,265,64.2%,308,74.6%,401,258,64.3%,299,74.6%,Y,NaN
2,2017-2018,01,10017,0123968,Alameda,Alameda County Office of Education,Community School for Creative Education,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1284,Directly funded,Y,K,8,252,169,67.1%,180,71.4%,233,153,65.7%,163,70.0%,Y,NaN
3,2017-2018,01,10017,0124172,Alameda,Alameda County Office of Education,Yu Ming Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1296,Directly funded,Y,K,8,387,49,12.7%,53,13.7%,387,49,12.7%,53,13.7%,Y,NaN
4,2017-2018,01,10017,0125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1383,Directly funded,Y,K,8,448,118,26.3%,127,28.3%,438,118,26.9%,127,29.0%,Y,NaN
5,2017-2018,01,10017,0130401,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,County Office of Education (COE),Juvenile Court Schools,Juvenile Court School,NaN,No,NaN,NaN,N,K,12,77,77,100.0%,77,100.0%,70,70,100.0%,70,100.0%,Y,NaN

## districts <a name = "pkfk"></a>

In [12]:
# read in csv 

districts = pd.read_csv('data_files/csvs/pubdistricts.csv')

In [13]:
# take a look at data 

districts.head()

,CD Code,County,District,Street,City,Zip,State,MailStreet,MailCity,MailZip,MailState,Phone,Ext,FaxNumber,Email,AdmFName,AdmLName,AdmEmail,Latitude,Longitude,DOC,DOCType,StatusType,LastUpDate
0,110017,Alameda,Alameda County Office of Education,313 West Winton Avenue,Hayward,94544-1136,CA,313 West Winton Avenue,Hayward,94544-1136,CA,(510) 887-0152,No Data,No Data,No Data,Alysse,Castro,superintendent@acoe.org,37.658212,-122.09713,0,County Office of Education (COE),Active,3/8/23
1,131609,Alameda,California School for the Blind (State Special...,500 Walnut Avenue,Fremont,94536-4365,CA,500 Walnut Avenue,Fremont,94536-4365,CA,(510) 794-3800,No Data,(510) 794-3813,info@csb-cde.ca.gov,Gina,Ouellette,gouellette@csb-cde.ca.gov,37.562576,-121.96563,31,State Special Schools,Active,3/8/24
2,131617,Alameda,California School for the Deaf-Fremont (State ...,39350 Gallaudet Drive,Fremont,94538-2308,CA,39350 Gallaudet Drive,Fremont,94538-2308,CA,(510) 794-3666,No Data,(510) 794-3797,rbye@csdf-cde.ca.gov,Amy,Novotny,anovotny@csdf-cde.ca.gov,37.558956,-121.96551,31,State Special Schools,Active,3/1/24
3,161119,Alameda,Alameda Unified,2060 Challenger Dr,Alameda,94501-1037,CA,2060 Challenger Dr,Alameda,94501-1037,CA,(510) 337-7000,No Data,No Data,No Data,Pasquale,Scuderi,pscuderi@alamedaunified.org,37.782147,-122.27009,54,Unified School District,Active,3/23/22
4,161127,Alameda,Albany City Unified,1216 Solano Avenue,Albany,94706-1725,CA,1216 Solano Avenue,Albany,94706-1725,CA,(510) 558-3750,No Data,(510) 559-6560,No Data,Frank,Wells,fwells@ausdk12.org,37.890302,-122.29575,54,Unified School District,Active,10/24/23

In [14]:
## create a dictionary from frmp; counties/county_codes

cc_dict = frmp[['County Name', 'County Code']]
cc_dict = cc_dict.set_index('County Name')['County Code'].to_dict()

In [15]:
# map cc_dict to county name to add a county code column

districts['county_code'] = districts['County'].map(cc_dict)

In [16]:
## change cds_code to proper data type

districts['CD Code'] = districts['CD Code'].astype('string')

In [17]:
# filter schools for data that will be used in database

districts = districts[['county_code', 'CD Code', 'County', 'District', 'Street', 'City', 'Zip',
                      'State', 'Phone', 'FaxNumber', 'Email', 'AdmEmail', 'Latitude', 'Longitude', 'DOC',
                      'DOCType', 'StatusType', 'LastUpDate']]

In [19]:
districts.head()

,county_code,CD Code,County,District,Street,City,Zip,State,Phone,FaxNumber,Email,AdmEmail,Latitude,Longitude,DOC,DOCType,StatusType,LastUpDate
0,01,110017,Alameda,Alameda County Office of Education,313 West Winton Avenue,Hayward,94544-1136,CA,(510) 887-0152,No Data,No Data,superintendent@acoe.org,37.658212,-122.09713,0,County Office of Education (COE),Active,3/8/23
1,01,131609,Alameda,California School for the Blind (State Special...,500 Walnut Avenue,Fremont,94536-4365,CA,(510) 794-3800,(510) 794-3813,info@csb-cde.ca.gov,gouellette@csb-cde.ca.gov,37.562576,-121.96563,31,State Special Schools,Active,3/8/24
2,01,131617,Alameda,California School for the Deaf-Fremont (State ...,39350 Gallaudet Drive,Fremont,94538-2308,CA,(510) 794-3666,(510) 794-3797,rbye@csdf-cde.ca.gov,anovotny@csdf-cde.ca.gov,37.558956,-121.96551,31,State Special Schools,Active,3/1/24
3,01,161119,Alameda,Alameda Unified,2060 Challenger Dr,Alameda,94501-1037,CA,(510) 337-7000,No Data,No Data,pscuderi@alamedaunified.org,37.782147,-122.27009,54,Unified School District,Active,3/23/22
4,01,161127,Alameda,Albany City Unified,1216 Solano Avenue,Albany,94706-1725,CA,(510) 558-3750,(510) 559-6560,No Data,fwells@ausdk12.org,37.890302,-122.29575,54,Unified School District,Active,10/24/23

## schools

In [16]:
# read csv

schools = pd.read_csv('data_files/csvs/pubschls.csv')

In [17]:
#schools

In [18]:
## add county code

schools['County Code'] = schools['County'].map(cc_dict)

In [20]:
## change CDS Code to proper data type

schools['CDSCode'] = schools['CDSCode'].astype(int)
schools['CDSCode'] = schools['CDSCode'].astype('string')

In [21]:
# replace * and 'No Data' with np.nan

schools = schools.replace('*', np.nan)
schools = schools.replace('No Data', np.nan)

In [22]:
## create schools_cds object for merging with other dfs

cds_schools = schools[['County', 'District', 'School', 'CDSCode']]

In [23]:
# filter schools for data that will be used in database

schools = schools[['County Code', 'CDSCode', 'County', 'District', 'School','StatusType',  'Street', 'City', 'Zip',
         'State', 'Phone', 'FaxNumber', 'Email', 'WebSite', 'OpenDate', 'ClosedDate', 'Charter', 'SOC',
        'SOCType', 'EdOpsName', 'EILName', 'GSoffered', 'Virtual', 'YearRoundYN', 'Latitude', 'Longitude',
        'AdmEmail', 'LastUpDate']]

## absents <a name = "filter"></a>

In [20]:
# read in csvs
## note that there is no data for 2020-2021 due to COVID-19

absents_18 = pd.read_csv('data_files/csvs/absenteeismreason18.csv')
absents_19 = pd.read_csv('data_files/csvs/absenteeismreason19.csv')
absents_21  = pd.read_csv('data_files/csvs/absenteeismreason21.csv')

In [21]:
## concatenate dfs together

absents = pd.concat([absents_18, absents_19, absents_21])

In [22]:
# take a look at data

absents.head()

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,Reporting Category,Eligible Cumulative Enrollment,Count of Students with One or More Absences,Average Days Absent,Total Days Absent,Excused Absences (percent),Unexcused Absences (percent),Out-of-School Suspension Absences (percent),Incomplete Independent Study Absences (percent),Excused Absences (count),Unexcused Absences (count),Out-of-School Suspension Absences (count),Incomplete Independent Study Absences (count)
0,2017-18,T,0,NaN,NaN,State,NaN,NaN,All,All,CAN,5612600,4787734,6.2,29473982.3,64.7,32.9,1.2,1.3,19064169,9683632,349160.2,377021
1,2017-18,T,0,NaN,NaN,State,NaN,NaN,All,No,CAN,5534347,4728393,6.1,28925997.2,65.2,32.8,1.2,0.8,18870613.8,9479676.1,333743.4,241964
2,2017-18,T,0,NaN,NaN,State,NaN,NaN,All,Yes,CAN,113249,75241,6.5,485734.3,35.5,36.9,2,25.5,172644.4,179284.9,9843,123962.1
3,2017-18,T,0,NaN,NaN,State,NaN,NaN,No,All,CAN,5058881,4388703,6.1,26928261,65.8,32.5,1.2,0.5,17708600.7,8755769.3,327070.8,136820.2
4,2017-18,T,0,NaN,NaN,State,NaN,NaN,No,No,CAN,5019497,4353683,6.1,26578201.4,66,32.4,1.2,0.4,17545022.8,8601411.1,314734.6,117033

In [27]:
## filter absents so that 'Aggregate Level' =='S'

absents = absents[absents['Aggregate Level']=='S']

In [28]:
## merge with cds_schools to get cds_codes

absents = absents.rename(columns = {'School Name':'School', 'County Name':'County',
                                   'District Name':'District'}).merge(cds_schools, how = 'left')

In [29]:
# replace '*' with np.nan

absents = absents.replace('*', np.nan)

In [30]:
## change County Code to proper Data Type

absents['County Code']= absents['County Code'].astype(int)
absents['County Code']= absents['County Code'].astype('string')

In [31]:
## filter data needed for database

absents = absents[['Academic Year', 'County Code', 'CDSCode', 'County', 'District', 'School', 'Reporting Category',
                  'Eligible Cumulative Enrollment', 'Count of Students with One or More Absences',
                  'Average Days Absent', 'Total Days Absent', 'Excused Absences (percent)', 'Unexcused Absences (percent)',
                  'Out-of-School Suspension Absences (percent)']]

## enrollment

In [32]:
## read csvs

enr_18 = pd.read_csv('data_files/csvs/filesenr1718.asp.csv')
enr_19 = pd.read_csv('data_files/csvs/filesenr_1819.asp.csv')
enr_20 = pd.read_csv('data_files/csvs/filesenr1920.asp.csv')
enr_21 = pd.read_csv('data_files/csvs/filesenr_2021.asp.csv')

In [33]:
## add academic year to respective dfs

enr_18['Academic Year'] = '2017-18'
enr_19['Academic Year'] = '2018-19'
enr_20['Academic Year'] = '2019-20'
enr_21['Academic Year'] = '2020-21'

In [34]:
## concatenate dfs

enr = pd.concat([enr_18, enr_19, enr_20, enr_21])

In [35]:
## add county code to enr

enr['County Code'] = enr['COUNTY'].map(cc_dict)

In [36]:
# change data type for cds_code

enr['CDS_CODE'] = enr['CDS_CODE'].astype(int)

In [37]:
# change data type for cds_code

enr['CDS_CODE'] = enr['CDS_CODE'].astype('string')

In [38]:
# filter columns needed for database

enr = enr[['Academic Year', 'CDS_CODE', 'County Code', 'COUNTY', 'DISTRICT', 'SCHOOL', 'ETHNIC', 'GENDER',
          'KDGN', 'GR_1', 'GR_2', 'GR_3', 'GR_4', 'GR_5', 'GR_6', 'GR_7', 'GR_8', 'GR_9', 'GR_10',
          'GR_11', 'GR_12', 'ADULT', 'ENR_TOTAL', 'UNGR_SEC']]

## ell <a name = "ac_year"></a>

In [23]:
## read csvs

ell_18 = pd.read_csv('data_files/csvs/fileselsch1718.csv')
ell_19 = pd.read_csv('data_files/csvs/fileselsch1819.csv')
ell_20 =pd.read_csv('data_files/csvs/fileselsch1920.csv')
ell_21 = pd.read_csv('data_files/csvs/fileselsch2021.csv')

In [24]:
ell_18.head()

,CDS,COUNTY,DISTRICT,SCHOOL,LC,LANGUAGE,KDGN,GR_1,GR_2,GR_3,GR_4,GR_5,GR_6,GR_7,GR_8,GR_9,GR_10,GR_11,GR_12,UNGR,TOTAL_EL
0,1.100170e+12,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1,Spanish,0,0,0,0,0,0,0,0,0,27,9,8,5,0,49
1,1.100170e+12,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,11,Arabic,0,0,0,0,0,0,0,0,0,1,2,1,0,0,4
2,1.100170e+12,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,99,Other non-English languages,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3,1.100170e+12,Alameda,Alameda County Office of Education,Community School for Creative Education,1,Spanish,6,13,12,10,9,11,10,7,3,0,0,0,0,0,81
4,1.100170e+12,Alameda,Alameda County Office of Education,Community School for Creative Education,7,Mandarin (Putonghua),0,0,0,0,0,0,1,0,0,0,0,0,0,0,1

In [25]:
## add academic years to dfs

ell_18['Academic Year'] = '2017-2018'
ell_19['Academic Year'] = '2018-2019'
ell_20['Academic Year'] = '2019-2020'
ell_21['Academic Year'] = '2020-2021'

In [26]:
ell_18.head()

,CDS,COUNTY,DISTRICT,SCHOOL,LC,LANGUAGE,KDGN,GR_1,GR_2,GR_3,GR_4,GR_5,GR_6,GR_7,GR_8,GR_9,GR_10,GR_11,GR_12,UNGR,TOTAL_EL,Academic Year
0,1.100170e+12,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1,Spanish,0,0,0,0,0,0,0,0,0,27,9,8,5,0,49,2017-2018
1,1.100170e+12,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,11,Arabic,0,0,0,0,0,0,0,0,0,1,2,1,0,0,4,2017-2018
2,1.100170e+12,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,99,Other non-English languages,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,2017-2018
3,1.100170e+12,Alameda,Alameda County Office of Education,Community School for Creative Education,1,Spanish,6,13,12,10,9,11,10,7,3,0,0,0,0,0,81,2017-2018
4,1.100170e+12,Alameda,Alameda County Office of Education,Community School for Creative Education,7,Mandarin (Putonghua),0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,2017-2018

In [27]:
## concat dfs

ell = pd.concat([ell_18, ell_19, ell_20, ell_21])

In [44]:
## add county code

ell['County Code'] = ell['COUNTY'].map(cc_dict)

In [45]:
ell['CDS'] = ell['CDS'].astype(int)

In [46]:
# change CDS code type

ell['CDS'] = ell['CDS'].astype('string')

In [47]:
# filter columns needed for database

ell = ell[['Academic Year', 'County Code','CDS', 'COUNTY', 'DISTRICT', 'SCHOOL', 'LC', 'LANGUAGE',
          'KDGN','GR_1', 'GR_2', 'GR_3', 'GR_4', 'GR_5', 'GR_6', 'GR_7', 'GR_8', 'GR_9',
           'GR_10', 'GR_11', 'GR_12', 'TOTAL_EL']]

## grads

In [48]:
## read csvs

grad_18 = pd.read_csv('data_files/csvs/graduates1718.csv')
grad_19 = pd.read_csv('data_files/csvs/graduates1819.csv')
grad_20 = pd.read_csv('data_files/csvs/graduates1920.csv')
grad_21 = pd.read_csv('data_files/csvs/graduates2021.csv')

In [49]:
# reset columns; grad_18

grad_18.columns = grad_18.iloc[0]
grad_18.drop(index = 0, axis = 0, inplace = True)

In [50]:
# reset columns; grad_19

grad_19.columns = grad_19.iloc[0]
grad_19.drop(index = 0, axis = 0, inplace = True)

In [51]:
# reset columns; grad_20

grad_20.columns = grad_20.iloc[0]
grad_20.drop(index = 0, axis = 0, inplace = True)

In [52]:
# reset columns; grad_21

grad_21.columns = grad_21.iloc[0]
grad_21.drop(index = 0, axis = 0, inplace = True)

In [53]:
# concatenate dfs

grads = pd.concat([grad_18, grad_19, grad_20, grad_21])

In [54]:
# filter aggregate level == 'S'

grads = grads[grads['Aggregate Level']=='S']

In [55]:
## add cds_codes

grads = grads.rename(columns={'County Name':'County', 'District Name':'District',
                            'School Name':'School'}).merge(cds_schools, how = 'left')

In [56]:
grads.dtypes

Academic Year                object
Aggregate Level              object
County Code                  object
District Code                object
School Code                  object
County                       object
District                     object
School                       object
Reporting Category           object
One-Year \nGraduate Count    object
CDSCode                      string
dtype: object

In [57]:
# filter columns needed for database

grads = grads[['Academic Year', 'County Code', 'CDSCode', 'District Code', 'County', 'District', 'School',
              'Reporting Category', 'One-Year \nGraduate Count']]

## college going rate

In [58]:
# read in csvs

cgr_18 = pd.read_csv('data_files/csvs/cgr12mo18.csv')
cgr_19 = pd.read_csv('data_files/csvs/cgr12mo19.csv')
cgr_20 = pd.read_csv('data_files/csvs/cgr12mo20.csv')
cgr_21 = pd.read_csv('data_files/csvs/cgr12mo21.csv')

In [59]:
# concat 3 dfs

cgr = pd.concat([cgr_18, cgr_19, cgr_20, cgr_21])

In [60]:
# filter aggregate level == 'S'

cgr = cgr[cgr['AggregateLevel']=='S']

In [61]:
## add cds codes

cgr = cgr.rename(columns={'CountyName':'County', 'DistrictName':'District', 'SchoolName':'School'}).merge(cds_schools, how='left')

In [62]:
# replace * with np.nan

cgr = cgr.replace('*', np.nan)

In [63]:
## filter columns needed for database

cgr = cgr[['AcademicYear', 'CountyCode', 'CDSCode','DistrictCode', 'SchoolCode', 'County', 'District', 'School',
          'ReportingCategory', 'CompleterType', 'High School Completers', 'Enrolled In College - Total (12 Months)',
           'Enrolled In-State (12 Months)', 'Enrolled Out-of-State (12 Months)', 'Not Enrolled In College (12 Months)',
          'Enrolled UC (12 Months)', 'Enrolled CSU (12 Months)', 'Enrolled CCC (12 Months)',
          'Enrolled In-State Private (2 and 4 Year) (12 Months)', 'Enrolled Out-of-State 4-Year College (Public/Private) (12 Months)',
          'Enrolled Out-of-State 2-Year College (Public/Private) (12 Months)']]

## frmp

In [64]:
## add cds_code to frmp

frmp = frmp.rename(columns={'District Name':'District', 'County Name':'County', 'School Name':'School'
            }).merge(cds_schools, how = 'left')

In [65]:
## filter data needed for database

frmp = frmp[['Academic Year', 'County Code', 'CDSCode','District Code', 'School Code', 'County', 'District',
            'School', 'Low Grade', 'High Grade', 'Enrollment \n(K-12)', 'Free Meal \nCount \n(K-12)',
            'Percent (%) \nEligible Free \n(K-12)', 'FRPM Count \n(K-12)', 'Percent (%) \nEligible FRPM \n(K-12)']]

## create a counties table

In [66]:
counties = schools.groupby(['County Code', 'County'])['School'].count().reset_index().rename(columns={'School':'School Count'})

## export dfs to csvs

In [67]:
##districts.to_csv('districts.csv', index=False, header=False)
##schools.to_csv('schools.csv', index=False, header=False)
##counties.to_csv('counties.csv', index=False, header=False)
##absents.to_csv('absents.csv', index=False, header=False)
##enr.to_csv('enr.csv', index=False, header=False)
##frmp.to_csv('frmp.csv', index=False, header=False)
##ell.to_csv('ell.csv', index=False, header=False)
##grads.to_csv('grads.csv', index=False, header=False)
##cgr.to_csv('cgr.csv', index=False, header=False)

### take a look at data types for pgAdmin table creation <a name = "dtypes"></a>

In [68]:
districts.dtypes

county_code     object
CD Code         string
County          object
District        object
Street          object
City            object
Zip             object
State           object
Phone           object
FaxNumber       object
Email           object
AdmEmail        object
Latitude       float64
Longitude      float64
DOC              int64
DOCType         object
StatusType      object
LastUpDate      object
dtype: object

In [69]:
counties.dtypes

County Code     object
County          object
School Count     int64
dtype: object

In [70]:
schools.dtypes

County Code    object
CDSCode        string
County         object
District       object
School         object
StatusType     object
Street         object
City           object
Zip            object
State          object
Phone          object
FaxNumber      object
Email          object
WebSite        object
OpenDate       object
ClosedDate     object
Charter        object
SOC            object
SOCType        object
EdOpsName      object
EILName        object
GSoffered      object
Virtual        object
YearRoundYN    object
Latitude       object
Longitude      object
AdmEmail       object
LastUpDate     object
dtype: object

In [71]:
absents.dtypes

Academic Year                                  object
County Code                                    string
CDSCode                                        string
County                                         object
District                                       object
School                                         object
Reporting Category                             object
Eligible Cumulative Enrollment                 object
Count of Students with One or More Absences    object
Average Days Absent                            object
Total Days Absent                              object
Excused Absences (percent)                     object
Unexcused Absences (percent)                   object
Out-of-School Suspension Absences (percent)    object
dtype: object

In [72]:
enr.dtypes

Academic Year    object
CDS_CODE         string
County Code      object
COUNTY           object
DISTRICT         object
SCHOOL           object
ETHNIC            int64
GENDER           object
KDGN              int64
GR_1              int64
GR_2              int64
GR_3              int64
GR_4              int64
GR_5              int64
GR_6              int64
GR_7              int64
GR_8              int64
GR_9              int64
GR_10             int64
GR_11             int64
GR_12             int64
ADULT             int64
ENR_TOTAL         int64
UNGR_SEC          int64
dtype: object

In [73]:
ell.dtypes

Academic Year    object
County Code      object
CDS              string
COUNTY           object
DISTRICT         object
SCHOOL           object
LC                int64
LANGUAGE         object
KDGN              int64
GR_1              int64
GR_2              int64
GR_3              int64
GR_4              int64
GR_5              int64
GR_6              int64
GR_7              int64
GR_8              int64
GR_9              int64
GR_10             int64
GR_11             int64
GR_12             int64
TOTAL_EL          int64
dtype: object

In [74]:
frmp.dtypes

Academic Year                           object
County Code                             object
CDSCode                                 string
District Code                           object
School Code                             object
County                                  object
District                                object
School                                  object
Low Grade                               object
High Grade                              object
Enrollment \n(K-12)                     object
Free Meal \nCount \n(K-12)              object
Percent (%) \nEligible Free \n(K-12)    object
FRPM Count \n(K-12)                     object
Percent (%) \nEligible FRPM \n(K-12)    object
dtype: object

In [75]:
grads.dtypes

Academic Year                object
County Code                  object
CDSCode                      string
District Code                object
County                       object
District                     object
School                       object
Reporting Category           object
One-Year \nGraduate Count    object
dtype: object

In [76]:
cgr.dtypes

AcademicYear                                                          object
CountyCode                                                             int64
CDSCode                                                               string
DistrictCode                                                         float64
SchoolCode                                                           float64
County                                                                object
District                                                              object
School                                                                object
ReportingCategory                                                     object
CompleterType                                                         object
High School Completers                                                object
Enrolled In College - Total (12 Months)                               object
Enrolled In-State (12 Months)                                         object
Enrolled Out-of-State (12 Months)                                     object
Not Enrolled In College (12 Months)                                   object
Enrolled UC (12 Months)                                               object
Enrolled CSU (12 Months)                                              object
Enrolled CCC (12 Months)                                              object
Enrolled In-State Private (2 and 4 Year) (12 Months)                  object
Enrolled Out-of-State 4-Year College (Public/Private) (12 Months)     object
Enrolled Out-of-State 2-Year College (Public/Private) (12 Months)     object
dtype: object